* {
	box-sizing: border-box;
	font-family: 'Satisfy', cursive;
	margin: 0px;
	padding: 0px;
	color: #4a6660 !important;
}
img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.imgLogo {
	width: 40%;
	height: auto;
}
.mainTitle > h1 {
	margin: 30px 0px 70px;
}

.buttonContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}
.button {
	background-color: #c3e2c2;
	color: #4a6660;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	margin-bottom: 50px;
}
.button:hover {
	background-color: #c3e2c2;
	transform: scale(1.05);
}
.table {
	width: 100%;
	table-layout: fixed;
}

.table th,
.table td {
	text-align: center;
	border: 1px solid #ddd;
	margin: auto;
}

/*----------------------NavBar---------------*/
.topHeader {
	background-color: #c3e2c2;
	height: 32px;
	object-fit: cover;
}
.navBar {
	height: 100px;
	display: flex;
	justify-content: space-between;

	box-shadow: rgba(182, 148, 106, 0.767) 0px 03px 20px 0px;
	align-items: center;
}
.headerMenu {
	height: 50%;
	margin: -40px 0px 0px 30px;
}
.headerMenuLogo {
	cursor: pointer;
	height: 180%;
}

.profileLink {
	list-style: none;
	text-decoration: none;
	color: #4a6660;
	font-size: 24px;
	margin: auto 100px;
	text-align: center;
	font-weight: bold;
}

/*----------------------footer---------------*/
.footerContainer {
	background-color: #c3e2c2;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}
.footerCard > a {
	text-decoration: none;
	color: #4a6660;
	font-size: 24px;
}
/*----------------------about us---------------*/
.aboutUsContainer {
	font-size: 40px;
}
.companyContainer {
	display: flex;
	margin: auto;
	align-items: flex-start;
}
.companyContainer > img {
	width: 40%;
	border-radius: 20%;
	margin: 10% auto;
	border: solid 5px #c3e2c2;
}
.companyContainer > p {
	font-size: 24px;
	line-height: 1.5;
	margin: 30px auto 50px;
	width: 90%;
}
