* {
	box-sizing: border-box;
	font-family: 'Satisfy', cursive;
	margin: 0px;
	padding: 0px;
	color: #4a6660 !important;
}
.bodyBackground {
	opacity: 0.5;
}
.imgHome {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-top: 30px;
}
.imgLogo {
	width: 60%;
	height: auto;
}
.imgTour {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.mainTitleLogin {
	margin: -720px 0px 0px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.541);
}
.mainTitle > h1 {
	margin: 30px 0px 70px;
}
.mainTitleLogin > img {
	margin-bottom: 50px;
}
.linkSignUp {
	margin-bottom: 110px;
}
.buttonContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}
.button {
	background-color: #c3e2c2;
	color: #4a6660;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	/* margin-bottom: 50px; */
}
.button:hover {
	background-color: #c3e2c2;
	transform: scale(1.05);
}
.bt_space {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
form,
select,
.date {
	font-size: 24px;
}
.inputs,
table {
	font-size: 24px;
	padding: 10px;
	border: 2px solid green;
}
.m20 {
	margin: 10px;
}
.table {
	width: 100%;
	table-layout: fixed;
}

.table th {
	text-align: center;
	border: 1px solid #ddd;
	margin: auto;
	font-size: 20px;
}
.table td {
	text-align: center;
	border: 1px solid #ddd;
	margin: auto;
	font-size: 16px;
	overflow: hidden;
	/* white-space: nowrap; */
	word-wrap: break-word;
}
.hidden {
	display: none;
}
ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 10px 0;
	font-size: 24px;
}
select {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.tourContainer {
	display: flex;
	justify-content: space-around;
}
.boldColumn {
	font-weight: bold;
	text-align: left !important;
}
/*----------------------NavBar---------------*/
.topHeader {
	background-color: #c3e2c2;
	height: 32px;
	object-fit: cover;
}

.navBar {
	height: 100px;
	display: flex;
	justify-content: space-between;

	box-shadow: rgba(182, 148, 106, 0.767) 0px 03px 20px 0px;
	align-items: center;
}
.headerMenu {
	height: 50%;
	margin: -40px 0px 0px 30px;
}
.headerMenuLogo {
	cursor: pointer;
	height: 180%;
}

.profileLink {
	list-style: none;
	text-decoration: none;
	color: #4a6660;
	font-size: 24px;
	margin: auto 100px;
	text-align: center;
	font-weight: bold;
}

/*----------------------footer---------------*/
.footerContainer {
	margin-top: 50px;
	background-color: #c3e2c2;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}
.footerCard > a {
	text-decoration: none;
	color: #4a6660;
	font-size: 24px;
}
/*----------------------about us---------------*/
.aboutUsContainer {
	font-size: 28px;
	margin-top: 20px;
}
.companyContainer {
	display: flex;
	margin: auto;
	align-items: flex-start;
}
.companyContainer > img {
	width: 80%;
	border-radius: 20%;
	margin: 40px auto;
	border: solid 5px #c3e2c2;
}
.companyContainer > p {
	font-size: 24px;
	line-height: 2;
	margin: 30px auto 50px;
	width: 90%;
}
